.position-fc {
    display: flex;
}

.position-fc #facebook {
    background-image: url(/src/Components/Home/Buttons/Buttons-Fc/Images/Fc.png);
    background-size: 100%;
    padding: 10.8px;
    transition: 0.4s ease;
    margin-top: -20px;
    margin-inline: -8px;
    filter: brightness(70%);
}

#facebook:hover {
    filter: brightness(30%);
}