.position-wp {
    display: flex;
}

.position-wp #whats-app {
    background-image: url(/src/Components/Home/Buttons/Buttons-Wp/Images/menu.png);
    background-size: 100%;
    padding: 10.5px;
    transition: 0.4s ease;
    margin-inline: -8px;
}

#whats-app:hover {
    filter: brightness(50%);
}