body {
    background-color: rgb(36, 19, 6);
    background-blend-mode: color-dodge;
}

body .fondo {
    height: 100vh;
    background: url(./Components/Home/Header/Images/Wallpaperpage.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}