body {
    background-color: rgb(36, 19, 6);
    background-blend-mode: color-dodge;
}

body .fondo {
    height: 100vh;
    background: url(./Components/Home/Header/Images/type-menu.png);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

@media screen and (max-width:900px) {

    body .fondo {
        height: 100vh;
        background: url(./Components/Home/Header/Images/type-menu.png);
        background-position: right;
        background-size: 300%;

    }

}